# Frontend Environment Variables Example

VITE_API_URL=https://job-portal-9mlv.onrender.com

VITE_SOCKET_URL=https://job-portal-9mlv.onrender.com
VITE_GOOGLE_CLIENT_ID=311500663954-tbtm3h9u4esi9ft6cvjsnriqc6eqf58g.apps.googleusercontent.com
